main {
  display: flex;
  flex-direction: row;
  min-height: 90vh;
}

h2, h3, h4 {
  text-align: center;
}

.charSelect {
  border-right: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.moveList {
  flex-grow: 1;
}

.moveList p {
  text-align: center;
}

td, th {
  border: 1px solid gray;
  padding: 2px;
  text-align: center
}

ul {
  list-style: none;
  padding: 0;
}

table {
  border-collapse: collapse;
}

button {
  width: 100px;
  background: none;
  border: 1px solid black;
  font-size: inherit;
  color: inherit;
  padding: 2px 2px;
  margin: 2px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}