main {
  display: flex;
  flex-direction: row;
}

.charSelect {
  border-right: 1px solid black;
  padding: 20px;
  margin: 20px;
}

td, th {
  border: 1px solid gray;
  padding: 5px;
  text-align: center
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}