main {
  display: flex;
  flex-direction: row;
}

.charSelect {
  border-right: 1px solid black;
  padding: 20px;
  margin: 20px;
}

td, th {
  border: 1px solid gray;
  padding: 5px;
  text-align: center
}

ul {
  list-style: none;
  padding: 0;
}

table {
  border-collapse: collapse;
}

button {
  width: 100px;
  background: none;
  border: 1px solid black;
  font-size: inherit;
  color: inherit;
  padding: 2px 2px;
  margin: 2px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}